<div class="container-fluid" style="background-color: #BDBDBD">    
    <FORM>
        <ul class="menu2" style="justify-content:center; list-style: none;">                 	                                              
            <li class="formInputs" style="justify-content:center;">                                            
                <div class="form-group">
                    <label for="sel1">Area</label>
                    <select class="form-control" id="sel1" >              
                        <option value=''>Dirección</option>
                        <option value="0">Secretaría</option>
                        <option value="1"> Admisión y Registro</option>
                        <option value="2">Trabajo Social residencias</option>
                        <option value="3">Trabajo Social Becas</option>
                        <option value="4">Psicología</option>
                        <option value="5">Biblioteca</option>
                        <option value="6">Deportivas</option>
                        <option value="7">Culturales</option>
                        <option value="8">Salud -> Odontología</option>
                        <option value="9">Salud -> Médico</option>
                        <option value="10">Salud -> Enfermería</option>
                    </select>
                </div>
            </li>        
            <li class="formInputs" > 
                <div class="form-group">
                    <label for="i1">Nombre de la actividad</label>
                    <input  id="i1" class="form-control" ng-model="actividad">
                </div>                
            </li>            
            
            <li class="formInputs" >
                <div class="input-group">                                          
                     <div class="form-group">
                        <label for="date2">Fecha de la actividad</label>
                        <input class="form-control" id="date2" ng-model ="fechaActividad" name="date2"/>
                    </div>                    
                </div>   
            </li>
            
            
            <li class="formInputs" > 
                <div class="form-group">
                    <label for="comment1">Objetivo de la activida</label>
                    <textarea class="form-control" rows="5" ng-model="objetivoActividad" id="comment1"></textarea>
                </div>                
            </li>            
                      
             <li class="formInputs" > 
                <div class="form-group">
                    <label for="comment1">Programa</label>
                    <textarea class="form-control" rows="5" ng-model="programa" id="comment1"></textarea>
                </div>                
            </li>            
                     
            
             <li class="formInputs" > 
                <div class="form-group">
                    <label for="comment1">Cantidad personas</label>
                    <input id="numeroEstudiantes" ng-model='cantidadEstudiantes' onkeypress="return event.charCode >= 48 && event.charCode<= 57"  class="form-control" placeholder="Cantidad de estudiantes">
                </div>                
            </li>           

            <li style="justify-content:center;">
                <button 
                    onclick="window.location.href =('#/profesores/informesEnviados');"
                    type="button" 
                    class="btn" 
                    onmouseover='this.style.backgroundColor="#E1E5E8"' 
                    onmouseout='this.style.backgroundColor="#2F9EE2"'
                    style="background-color:#2F9EE2;color:black;" >
                    Atras
                </button>    
                <button 
                    ng-click="guardarInforme()"
                    type="button" 
                    class="btn" 
                    onmouseover='this.style.backgroundColor="#E1E5E8"' 
                    onmouseout='this.style.backgroundColor="#2F9EE2"'
                    style="background-color:#2F9EE2;color:black;" >
                    Guardar
                </button>   
            </li>
                   		
        </ul>
    </FORM>        
</div>