
<div class="container-fluid" id="imprimir" style="background-color:#E9F4F5">	
   <link rel="stylesheet" type="text/css" href="../assets/css/estiloPrevew.css">  
	<div class="cabecera">
            <p>www.tec.ac.cr</p>
            <img src="../assets/images/TEC-logo-blanco.png">
	</div>    
    
	<div class="centrado">
        <b>
        <br>
                            TECNOLÓGICO DE COSTA RICA 
                                <br>
            DEPARTAMENTO DE VIDA ESTUDIANTIL Y SERVICIOS ACADÉMICOS 
                                <br>
                                <br>
                                <br>	
                            CERTIFICACION
        </b>
	</div>
<!--Aqui va el cuerpo del documento-->
    
<div >
    <p class="justificado">		
        La suscrita  MSc. Noidy Salazar Arrieta, Directora de Departamento de Vida
        Estudiantil y Servicios Académicos(DEVESA) del Instituto Tegnológico  de Costa Rica,
        Sede Regional San Carlos, hace constar que:		        
    </p>
    <p class="justificado">
        {{elLa}}  estudiante: <b> {{nombreEstudiante}}</b>, carné N°.<b>{{carnet}}</b> ,
        cédula N°.<b>{{cedulaEstudiante}}erttr</b> ,es alumn{{AO}} regular de esta institucion en la carrera de: 
        <b>{{carrera}}</b> , matriculad{{AO}} en el presente curso lectivo que va desde {{periodoActual}}        
    </p>
    <p id="textResidencia" class="justificado" >{{textoResidencia}}</p>
    
    
    <p class="justificado">
        El actual documento se encuentra exento de timbres, de conformidad con la Ley número 
        mil tresientos veintiuno del veintisiete  de abril del año mil novecientos setenta y nueve.
    </p>
    
    <p class="justificado">
        Se extiende la presente a solicitud del interesado {{tipoSolicitud}},{{fechaCarta}}.
        <br> 
    </p>
</div>
	<div class="seleccion centrado">
				<p>
				<br><br>
					Atentamente 
				<br> <br><br>
				<b>
			         MSC.NOIDY SALAZAR ARRIETA 
					           <br>
			             DIRECTORA-DEVESA
				</b>	
				</p>		
	</div>
    <input type="button" id="botnImp" value="Imprimir" ng-click="imprimir('imprimir')">    
    <input type="button" id="botnCancel" value="Cancelar" ng-click="cancelar()">    
</div>
