<div class="container-fluid fondo">
<h2 style="text-align: center"> Visualización de Informes </h2>
<br>
<div class="container-fluid justificado  word-content" id="informe">
        <h1 class="align-center">{{informe[0]["v_actividad"]}}</h1>
        <br>
        <h3> Persona encargada: </h3>
        <span class="exhibidores">{{informe[0]["v_funcionarioid"]}}</span>
        <br>
        <h3> Objetivo: </h3>
        <span class="exhibidores">{{informe[0]["v_objetivo"]}}</span>
        <br>
        <h3> Cantidad de estudiantes: </h3>
        <span class="exhibidores">{{informe[0]["v_cantestudiantes"]}} </span>
        <br>
        <h3> Area: </h3>
        <span class="exhibidores">{{informe[0]["v_area"]}} </span>
        <br>
        <h3> Programa: </h3>
        <span class="exhibidores">{{informe[0]["v_programa"]}}</span>
        <br>
        <h3> Fecha de Inicio: </h3>
        <span class="exhibidores">{{informe[0]["v_fechainicio"]}}</span>
        <br>
        <h3> Fecha de Final: </h3>
        <span class="exhibidores">{{informe[0]["v_fechafinal"]}}</span>
        <br>
        <div class="container">
            <a ng-repeat="imagen in imagenes" href="http://localhost/DEVESA/files/{{imagen.v_nombre}}" target="_blank">
                    <!--<img ng-src="files/{{imagen.v_nombre}}" width="350px" height="auto" style="padding-left: 8px;">-->
                <img class="galleryImages" ng-src = "http://localhost/DEVESA/files/{{imagen.v_nombre}}">
                <br>
                <br>
            </a>

        </div>

</div>

<div class="container-fluid justificado">
    <br> <br>
    <button type="button" class="btn btn-danger"  ng-click="retroceder()"> Atrás </button>
    <button type="button" class="btn btn-primary"  ng-click="cargarImagenes()" >Ver Imágenes</button>
    <br>
</div>

<div class="container-fluid justificado">
    <div class="form-group">
        <button type="button" class="btn btn-primary"  ng-click="descargarImagenes()" >Descargar Imágenes <i class="material-icons right">file_download</i> </button>
        <button type="button" id="informeCompleto" value="{{informe[0]['v_actividad']}}" class="btn btn-primary word-export"> Descargar Informe Completo <i class="material-icons right">file_download</i> </button>
    </div>
</div>


</div>

<script>

    jQuery(document).ready(function ($) {
        $(".word-export").click(function (events) {
            var fileName= document.getElementById("informeCompleto").value;
            $(".word-content").wordExport(fileName);
        });
    });

</script>
