<div class="container-fluid fondo" >
    <center>
    <h2 style="margin-top: 2%;"> Informes organizados por área </h2>
    <br>

    <div class="container-fluid" >
        <h3  class="textInformes"> Seleccione el área para visualizar los informes</h3>
        <br>
        <select class="form-control"  id="selector" ng-model="seleccionado" ng-options="opcion for opcion in opciones" ng-change="mostrarInformes()">

        </select>
    </div>

    </center>
    <br>
    <div class="table-responsive"  style="opacity: 0.8;height:300px;">
        <table class="table table-hover dashboard-task-infos" id="tablaInforme">
            <thead style="background-color: #000000 ; color:#ffffff;" >
            <th>Actividad</th>
            <th>Área</th>
            <th>Fecha de Realización</th>
            <th>Fecha de Finalización</th>
            <th>Acción</th>
            </thead>

            <tbody>
            <tr editable-td row="{{$index}}"
                dir-paginate="informes  in informesArea|itemsPerPage:cantidadElementos"
                current-page="paginaActual">

                <td>{{informes["v_actividad"]}}</td>
                <td> {{getTextoArea(informes["v_area"])}}</td>
                <td>{{formatoFecha(informes["v_fechainicio"].slice(0,10))}}</td>
                <td>{{formatoFecha(informes["v_fechafinal"].slice(0,10))}}</td>
                <td>
                    <button
                            type="button"
                            class="btn bagTecEliminar"
                            onmouseout=this.style.backgroundColor="#E1E5E8"
                            style="color:black;"
                            onmouseover=this.style.backgroundColor="#2F9EE2"
                            data-toggle="modal"
                            data-target="#myModal"
                            ng-click="verMas($index)"><b>Ver Más</b></button>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <button type="button"
                class="btn btn-info"
                onmouseout=this.style.backgroundColor="#E1E5E8"
                ng-click="descargar($index)"
                onmouseover=this.style.backgroundColor="#2F9EE2">

            Descargar Informes del área <i class="material-icons right">file_download</i>
        </button>

    </div>

</div>

<dir-pagination-controls
        max-size="maximoElementos"
        direction-links="true"
        boundary-links="true" >
</dir-pagination-controls>