<div class="modal fade" id="myModal" role="dialog" style="top: 250px;" ng-controller="nuevaCtrl"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="border:solid; border-color: black;">
                <br>
                <center>
                <div class="form-group">
                    <label for="sel1">Seleccione el tipo de trámite para la carta </label>
                    <select  class="form-control form-control-lg" id="sel1" >
                        <option  ng-repeat="solicitud in solicitudes">{{solicitud.nombre}} </option>

                    </select>
                </div>

                <div class="form-group">
                    <label for="sel2">Seleccione una de las siguientes sedes </label>
                    <select  class="form-control" id="sel2" >
                        <option  ng-repeat="opcion in opcionesSedes">{{opcion.nombre}} </option>

                    </select>
                </div>
                </center>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn-primary"  data-dismiss="modal"ng-click="realizaSolicitud()">Registrar la solicitud</button>
                    <button  type="button" class="btn-danger" data-dismiss="modal" >Cancelar</button>
                    </center>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid"  style="height:100%; width: 100%">
    <center>
        <button type="button"  style="font-size: large;opacity: 0.89" class="btn btn-block btn-lg btn-info waves-effect nueva_solicitud"
                data-toggle="modal" data-target="#myModal" >Realizar una nueva solicitud </button>

    </center>      
    <script src="controllers/nuevaCtrl.js"></script>
     
</div>

            