<div class="body">           
    <div class="centrado">
    <span style="font-size:18px">Mis solicitudes</span>
    </div>
    <div class="table-responsive" style="opacity: 0.8;">  
    <table class="table table-hover dashboard-task-infos">
        <thead style="background-color: #000000 ; color:#ffffff;" >
            <tr>
                <th>Número de Carnet</th>
                <th>Tipo de solicitud</th>
                <th>Estado de la solicitud </th>
                <th> Acción </th>                
            </tr>      
        </thead>        

        <tbody>
            <tr ng-repeat="solicitud in solicitudes" 
                style="background-color:#3B4A95;color:#ffffff;"
                onmouseover='this.style.backgroundColor="#B4C7E6"'
                onmouseout='this.style.backgroundColor="#3B4A95"' >
                <td>{{solicitud["v_carne"]}}</td>
                <td>{{solicitud["v_tramite"]}}</td>
                <td><span class="label bg-red">Pendiente</span></td>
                <!--cuando se presiona el boton, la funcion eliminar recibe la fila que está siendo editada -->

                <td>
                    <button
                             type="button" 
                             class="btn bagTecEliminar" 
                             onmouseout='this.style.backgroundColor="#E1E5E8"'
                             style="color:black;"           
                             onmouseover='this.style.backgroundColor="#2F9EE2"'
                             data-toggle="modal"
                             data-target="#myModal"                                                
                             ng-click="eliminar($index)"><b>Eliminar solicitud</b>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>                
    </div>

</div>

