<div class="fondo">
    <br>
    <div class="centrado">
    <h3 class="align-center"><span class="bg-info circle">Mis solicitudes</span></h3>
    </div>
    <br>

    <div class="table-responsive" style="opacity: 0.8;">
    <table class="table table-hover dashboard-task-infos">
        <thead class="theme-black" >
            <tr>
                <th>Número de Carnet</th>
                <th>Tipo de solicitud</th>
                <th>Estado de la solicitud </th>
                <th> Acción </th>                
            </tr>      
        </thead>        

        <tbody>
            <tr ng-repeat="solicitud in solicitudes"

                 >
                <td>{{solicitud["v_carne"]}}</td>
                <td>{{solicitud["v_tramite"]}}</td>
                <td><span ng-class="{'label bg-red btn-lg': solicitud['v_estado']===false, 'label bg-green': solicitud['v_estado']===true}">
                    <b>{{solicitud["v_estado"]===true ? 'Atendida' : 'Pendiente' }}</b></span></td>
                <!--cuando se presiona el boton, la funcion eliminarConfirmacion recibe el indice de la fila que está siendo editada -->
                <td>
                    <button ng-hide=solicitud["v_estado"]
                             type="button" 
                             class="btn bagTecEliminar" 
                             onmouseout='this.style.backgroundColor="#E1E5E8"'
                             style="color:black;"           
                             onmouseover='this.style.backgroundColor="#2F9EE2"'
                             data-toggle="tooltip"
                             title="Eliminar"
                             ng-click="eliminarConfirmacion($index)">
                             <i class="material-icons right">delete</i>

                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    </div>
    <div class=align-center>
        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#nuevaSolicitud">
            Nueva Solicitud <i class="material-icons right">add</i>
        </button>
    </div>
    <br> <br>

</div>

<!-- Modal -->
<div class="modal fade" id="nuevaSolicitud" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="longTitle">Nueva solicitud</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sel1">Seleccione el tipo de trámite para la carta </label>
                    <select  class="form-control form-control-lg" id="sel1" >
                        <option  ng-repeat="tipoSolicitud in tiposSolicitudes">{{tipoSolicitud.nombre}} </option>

                    </select>
                </div>
                <div class="form-group">
                    <label for="sel2">Seleccione una de las siguientes sedes </label>
                    <select  class="form-control" id="sel2" >
                        <option  ng-repeat="opcion in opcionesSedes">{{opcion.nombre}} </option>

                    </select>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="realizarSolicitud()">Registrar nueva solicitud</button>
            </div>
        </div>
    </div>
</div>

