<!--Esta seccion permite realizar una nueva solicitud-->
<div class="container-fluid">    
    <FORM>
        <ul class="menu2" style="display:flex;justify-content:center; list-style: none" >
        <center>
        <br>		
        <br>
            <h3> Nueva Solicitud</h3>
        <br>	
        <br>	
            <li style="display:flex; justify-content:center;background-color:#BDC1C1; ">
                <input id="carnet"  onkeypress="return event.charCode >= 48 && event.charCode<= 57"  style="display:flex; justify-content:center;width: 200px"
                       class="form-control" name="carnet" placeholder="Carnet estudiante" ng-model="carnetEstudiante">
            </li>
            <br>	
            <li><span>Tipo de tramite</span></li>
            
            <li style="display:flex; justify-content:center;">               
                    <select class="form-control" ng-model= "tipoSolicitud" id="sel1" style="width:200px;border-color:#B4B5B5">
                        <option id="1">Solicitud de carnet CCSS</option>
                        <option>Tramite de pensiones</option>
                        <option>Tramite de visa</option>
                        <option>Estudiante regular</option>
                        <option>CCSS con residencia</option>
                    </select>                
                </li>                      
            <br>	
            <li style="display:flex; justify-content:center;">
                <button 
                    type="button" 
                    class="btn" 
                    onmouseover=this.style.backgroundColor="#E1E5E8" 
                    onmouseout=this.style.backgroundColor="#2F9EE2" 
                    style="background-color:#2F9EE2;color:black;" 
                    ng-click="cargarDatos()">
                    Imprimir
                </button>                  
            </li>	
        </center>			
        </ul>
    </FORM>        
</div>