<!--Esta seccion permite realizar una nueva solicitud-->
<div class="container-fluid">    
    <FORM style="display:flex;justify-content:center;">
        <ul class="menu2" style="display:flex;justify-content:center;width: 50%; list-style: none; background-color:#BDC1C1">
        <center>        
            <br>
            <h3> Nueva Solicitud</h3>        	        
            <li style="display:flex; justify-content:center;background-color:#BDC1C1; ">
                <input id="carnet"  onkeypress="return event.charCode >= 48 && event.charCode<= 57"  style="display:flex; justify-content:center;width: 200px"
                class="form-control" name="carnet" placeholder="Carnet estudiante" ng-model="carnetEstudiante">
            </li>
            <br>	
            <li><span>Tipo de tramite</span></li>
            

            <li style="display:flex; justify-content:center;">               
                    <div class="form-group">                            
                            <select style="border: #2F9EE2" class="form-control form-control-lg" id="sel1" >
                                <option  ng-repeat="tipoSolicitud in tiposSolicitudes">{{tipoSolicitud.nombre}} </option>
                            </select>
                    </div>                              
                </li>                      
            <br>	
            <li style="display:flex; justify-content:center;">
                <button 
                    type="button" 
                    class="btn" 
                    onmouseover=this.style.backgroundColor="#E1E5E8" 
                    onmouseout=this.style.backgroundColor="#2F9EE2" 
                    style="background-color:#2F9EE2;color:black;" 
                    ng-click="cargarDatos()">
                    Imprimir
                </button>                             
            </li>	
            <br>       
            <br>     
        </center>			
        </ul>
    </FORM>        
</div>